@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* header section */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
height: 130px;
flex-shrink: 0;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.icon {
    display: flex;
    justify-content: space-around;
}
.icon-head {
    text-align: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
}
.span-1 {
    color: #FF42A5
}
.icon-img {
    width: 85px;
    height: 40px;
    margin-top: 53px;
    margin-right: 8px;
}
.about {
    position: relative;
    padding-left: 650px;
    list-style: none;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.flw {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    width: 262px;
height: 56px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);

}
.flw img {
    width: 33.916px;
height: 24px;
flex-shrink: 0;
fill: #F61C0D;
}
.list-1 {
    text-decoration: none;
    margin-right: 25px;
    color: #3C354F;
font-family: Work Sans;
font-size: 18px;
font-weight: 500;


}
.list-2 {
    margin-right: 5px;
    text-decoration: none;
    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.logo-img {
    width: 33px;
height: 35px;
}
/* goat section */
.goat-sec {
    display: flex;
    justify-content: space-around;
}
.goat {
    text-align: center;
    justify-content: center;
    width: 900px;
height: 700px;
background-image: url(./images/Group\ 14.png);

}
.goat-icons {
    margin-left: 280px;
    margin-bottom: 50px;
}
.pause {
    display: flex;
    text-align: center;
    align-items: center;
    
}
.pause-icon {
    width: 24px;
height: 24px;
flex-shrink: 0;
margin-right: 2px;
position: relative;
}
.goat-head1 {
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.goat-head2 {
    text-align: center;
font-family: Work Sans;
font-size: 95px;
font-style: normal;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.goat-para {
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
}
.btn-primary {
    display: inline-flex;
    border: 0;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
margin-right: 5px;
}
.btn2 {
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
border: none;
margin-right: 90px;
}
/* online and cards section */
.online-games {
    text-align: center;
    justify-content: center;
}
.online-text {
    text-align: center;
}
.online-head {
    color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.span-2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.online-para {
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.card-para {
    text-align: center;
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px;
}
/* instant section */
.instant {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.instant-text {
    text-align: center;
    position: relative;
    left: 200px;
    top: 100px;
}
.instant-head {
    color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.span-3 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.instant-para {
    color: #534C64;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.angela {
  height: 300px;
  border-radius: 8px;
border: 10px solid #FFF;
position: relative;
left: 170px;
}
/* title section */
.title {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 243px;
height: 80px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
}
.title-img {
    width: 40px;
height: 40px;
flex-shrink: 0;
margin-right: 6px;
}
.game-title {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    text-align: center;
    align-items: center;
}
.title-para {
    color: #0B0223;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.title:hover {
    border: 1px solid #FF42A5;
}
.title-para:hover {
    color: #FF42A5;
}
/* footer section */
footer {
    background: #0B0223;
    height: 636px;
    padding-top: 250px;
}
.icon-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon-img2 {
    width: 86.041px;
height: 40px;
flex-shrink: 0;
margin-right: 20px;

}
.icon-head2 {
    color:  #FFF;
    text-align: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer-list{
    display: flex;
    margin-left: 400px;
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.ft-img {
    width: 40px;
height: 40px;
flex-shrink: 0;
padding: 0;
margin: 0;
}
.footer-icon {
    text-align: center;
    justify-content: space-around;
}
.trms {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
    margin-right: 40px;
}
.terms{
    display: flex;
    margin-top: 30px;
    margin-left: 500px;
    list-style: none;
}
.footer-para {
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
@media screen and (max-width: 576px) {
    
    .nav {
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .about {
        display: block;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .goat-sec{
        display: block;
        margin-top: 100px;
    }
    .online-games {
        width: 100%;
       display: block;
       margin-left: 250px;
    }
    .cards {
        display: block;
       text-align: center;
    }
    .card-para {
        display: flex;
    }
    .instant {
        display: block;
        width: 100%;
    }
.instant-head {
    margin-bottom: 10px;
}
 .instant-img {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 120px;
    }
    .game-title {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer {
        display: block;
        width: 100%;
    }
    .footer-list {
        display: block;
    }

}


